@import 'tailwindcss';

@theme {
  /* 应用的默认字体栈。 */
  --font-sans:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-slate-950 text-white;

  @media (prefers-color-scheme: dark) {
    /* 让表单控件匹配系统深色模式。 */
    color-scheme: dark;
  }
}

@keyframes carousel-progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
